footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    background: #F0F0F0;
    background: linear-gradient(to left, #F0F0F0 0%, #B8B8B8 100%);
    box-shadow: var(--shadow);
}